<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear integrante</title>
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Crear</h2>
    <section>
        <form action="/admin/integrantes/create" method="post">

            <fieldset>
               <legend>Integrante</legend>
                <!-- el id se integrante debe ser un campo autonumerico en la creación -->
                <label for="matricula">Matricula</label>
                <input id= "matricula" name= "matricula" type="{{matricula}}">

                <label for="apellido">Apellido</label>
                <input id= "apellido" name= "apellido" type="{{apellido}}">

                <label for="nombre">Nombre</label>
                <input id= "nombre" name= "nombre" type="{{nombre}}">

                <label for="integrante activo">Activo</label>
                <input id= "activo" name= "estado_integrante" type="radio" value="1">

                <label for="integrante inactivo">Inactivo</label>
                <input id= "inactivo" name= "estado_integrante" type="radio" value="0">

            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');

            if (error) {
                const errores = decodeURIComponent(error).split(';');
                errores.forEach((error) => {
                    toastr.error(error);
                });
            }
        };
    </script>

    <a href="/admin/integrantes/listar">Voler al listado de integrantes</a>
</body>
</html>