<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="error_404">
        <h1>Error 404</h1>
        <p>La página que buscas no existe.</p>
         <p><a href="/">Volver al index</a></p>
    </div>
</body>
</html>
